nav li{
	
    transform:skewX(30deg);
	transition: all .3s;
}
nav li a{
	

	transform:skewX(-30deg);
	
	
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover , .navbar-default .navbar-nav > .active > a:focus, .nav>li>a:hover{
	background-color: transparent ;
	color: #000;
}
.active >a{
	color: #fff;
}
.active{
	background-color: #8aa3cc;
	
	transition: all 0.3;

}
.nav li a:focus{
	background-color: transparent;
}
nav li:hover{
	box-shadow: 1px 7px 12px #888888;

}
.logo{
	
	position: relative;
}
.social li{
	background-color: #3fa1da;
	border-radius: 50%;
	margin-left: 5px;
	
	
}
.social li:hover {
	background-color: #000;
	transition: all 0.5s;
}
.social li i{
	color: #fff;
	line-height: 1;
	font-size: 15px;
	
	
}
.social li a{
	padding: 7px 10px;;
}
.carousel-caption{
	background: rgba(255, 255, 255, 0.6);
	left: 0px;
	bottom: 0px;
	color: #000;
}
.navbar-toggle .icon-bar{
	border: 1px solid #000;
}

.icon {
	margin-top: 25px;
	margin-right: 25px;
}




/*service section goes here
*/


h2 {
	text-transform: uppercase;
	margin-bottom: 40px;
	text-align: center;
}



.thumbnail {
	background-color: rgba(241, 237, 237, 7);
}

/*footer section goes here*/

#footer-top {
	padding: 80px 0 60px;
	background-color: #373737;
	color: #cacaca;
}

.Copy-right{
	text-align: center;
	background-color: #373737;
	margin: 20px;
}


/*image zome and hover goes here*/

.item {
/*  position: relative;*/
  
 /* border: 1px solid #333;
  margin: 1%;*/
  overflow: hidden;
 /* width: 540px;*/
}

.item img {
  max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/*hover goes here */


.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
}

.hovereffect:hover h2 {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
  transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect h2,
.hovereffect p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}

.hovereffect .overlay:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 60%;
  border: 2px solid #fff;
  content: '';
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);
  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(0,0,1);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
}

.hovereffect p {
  width: 20%;
  text-transform: none;
  font-size: 15px;
  line-height: 2;
}

.hovereffect p a {
  color: #fff;
}

.hovereffect p a:hover,
.hovereffect p a:focus {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.hovereffect  a i {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  padding: 0px 5px;
}

.hovereffect p a:first-child i {
  -webkit-transform: translate3d(-60px,-60px,0);
  transform: translate3d(-60px,-60px,0);
}

.hovereffect p a:nth-child(2) i {
  -webkit-transform: translate3d(60px,-60px,0);
  transform: translate3d(60px,-60px,0);
}

.hovereffect p a:nth-child(3) i {
  -webkit-transform: translate3d(-60px,60px,0);
  transform: translate3d(-60px,60px,0);
}

.hovereffect p a:nth-child(4) i {
  -webkit-transform: translate3d(60px,60px,0);
  transform: translate3d(60px,60px,0);
}

.hovereffect:hover .overlay:before {
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: rgba(0,0,0,0.2);
  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-135deg) scale3d(1,1,1);
  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-135deg) scale3d(1,1,1);
}

.hovereffect:hover p i:empty {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  opacity: 1;
  filter: alpha(opacity=100);
}

/*end hover*/

/*2nd page css stard here */



@media (max-width: 777px){
	nav li{
		max-width: 90%;
		margin: 0 auto;
	}
	.social li{
		
		display: inline-block;
	}
	.navbar-right{
		float: right;
	}
	
	
}

@media (max-width: 600px){
	.carousel .carousel-caption{
		display: none;
	}
	.social{
		clear: left;
		float: right;
		width: 100%;
	}

	
}



/* Circle */
.hover15 figure {
	position: relative;
}
.hover15 figure::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.hover15 figure:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}

.thumbnail{
	background: #000;
	
}
.thumbnail img{
	opacity: 0.5;
	transition: all 0.5s;
	
}
.thumbnail:hover img{
	opacity: 1;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}





